@page
@model OnlineShop.web.Pages.Admin.Courses.Index

@{
    ViewData["Title"] = "لیست دوره ها";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">لیست دوره ها</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                لیست دوره های سایت
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="col-md-12" style="margin: 10px 0;">
                    <a class="btn btn-outline btn-success" href="/admin/Courses/CreateCourse">افزودن دوره جدید</a>
                </div>
            </div>
        </div>
    </div>
</div>