@model OnlineShop.web.DTOs.AccountViewModel.ResetPasswordViewModel

@{
    ViewData["Title"] = "تغییر رمز ورود";
}

<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">آنلاین شاپ</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            تغییر رمز ورود
        </li>
    </ul>
</nav>

<main class="client-page">
    <div class="container-content">

        <header>
            <h2> تغییر رمز ورود </h2>
        </header>

        <div class="form-layer">

            <form asp-action="ResetPassword" method="post">
                <input type="hidden" asp-for="ActiveCode">

                <div class="input-group">
                    <span class="input-group-addon" id="password">
                        <i class="zmdi zmdi-lock"></i>
                    </span>
                    <input asp-for="Password" type="password" class="form-control" placeholder="رمز عبور " aria-describedby="password">
                </div>

                <div class="input-group">
                    <span class="input-group-addon" id="password">
                        <i class="zmdi zmdi-lock"></i>
                    </span>
                    <input asp-for="RePassword" type="password" class="form-control" placeholder="تکرار رمز عبور " aria-describedby="password">
                </div>

                <button class="btn btn-success"> فراموشی رمز عبور </button>


                <div asp-validation-summary="All" class="text-danger">

                </div>


            </form>
        </div>

    </div>
</main>