@model OnlineShop.web.DTOs.Course.ShowCourseListItemViewModel
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
    <article>
        <a href="/ShowCourse/@Model.CourseId" class="img-layer">
            <img src="/course/thumb/@Model.ImageName" style="height: 150px">
        </a>
        <h2>
            <a href="/ShowCourse/@Model.CourseId"> @Model.Title </a>
        </h2>
        <span> @((Model.Price == 0) ? "رایگان" : Model.Price.ToString("#,0")) </span>
        <i>@Model.TotalTime</i>
    </article>
</div>