<!DOCTYPE html>
<html class="no-js" dir="rtl" lang="fa-IR">
<head>
    <meta charset="UTF-8">
    <title> آنلاین شاپ | @ViewData["Title"] </title>
    <partial name="_MetaTags"/>
    <partial name="_Styles"/>
    <script src="/js/jquery.min.js"></script>
</head>
<body>
<script src="/js/modernizr-custom.js"></script>

<div class="landing-layer">
    <div class="container">
        <nav>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <ul>
                        <li>
                            <a href=""> همکاری در فروش </a>
                            <a href=""> درباره ما </a>
                            <a href=""> تماس با ما </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="clientarea">
                        <div class="loggein hidden">
                            <i class="zmdi zmdi-account"></i><a href=""> دانیال شکوه منش، خوش آمدی </a>
                        </div>
                        <div class="signin">
                            <i class="zmdi zmdi-account"></i>
                            <a href=""> ورود </a> /
                            <a href=""> عضویت </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        @RenderSection("SearchBox", false)
    </div>
</div>

<!-- main manu -->
<partial name="_MainMenu"/>
<!-- /main manu -->
<!-- content -->
@RenderBody()
<!-- /content -->
<!-- footer -->
<partial name="_Footer"/>
<!-- /footer -->

<script src="/js/bootstrap.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>